body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #4f0707, #000000 );
    margin: 0;
    color: rgb(202, 197, 197);
    font-family: sans-serif;
}
header,nav{
    background: #310606;
    width: 100%;
    margin-bottom: 1%;
    font-weight: 900;
    font-size: 22px;
    box-shadow: 5px 5px 10px rgb(120, 11, 11);
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
    list-style: none;
    text-transform: uppercase;
}
ul a{
    text-decoration: none;
    color: #ffffff;
}
nav li:hover{
    color: #ffffff;
    font-size: 26px;
    list-style: url(../images/skull.png);
}
li:hover{
    color: #ffffff;
    font-size: 26px;
}
ul li#gmail{
    list-style: url(../images/gmail.png);
}
ul li#github{
    list-style: url(../images/github.png);
}
ul li#linkedin{
    list-style: url(../images/linkedin.png);
}
img{
    width: 40%;
    margin-bottom: 6%;
    box-shadow: 1px 5px 10px 10px rgb(120, 11, 11);
}
p{
    width: 90%;
}

.img{
    width: 50%;
    text-align: center;
}
.info{
    width: 50%;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10%;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 576px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav ul{
        width: 100%;
        display: flex;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    nav a{
        font-size: 14px;
    }
    a:hover{
        color: #ffffff;
        font-size: 18px;
        list-style: none;
        padding: 0;
    }
    ul li#gmail,li#github,li#linkedin{
        margin-top: 4%;
        padding: 0;
    }
    #content{
        display: block;
        width: 100%;
        padding: 0;
    }
    .info{
        padding: 0;
        width: 100%;
    }
    .img{
        padding: 0;
        width: 100%;
    }
}