body {
    width: 100%;
    height: 100%;
    background: #000000;
    margin: 0;
    color: rgb(202, 197, 197);
    font-family: sans-serif;
}
header,nav {
    background: #310606;
    width: 100%;
    margin-bottom: 1%;
    font-weight: 900;
    font-size: 22px;
    box-shadow: 5px 5px 10px rgb(120, 11, 11);
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
    list-style: none;
    text-transform: uppercase;
}
ul a {
    text-decoration: none;
    color: #ffffff;
}
nav li:hover {
    color: #ffffff;
    font-size: 26px;
    list-style: url(../images/skull.png);
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    font-family: Arial, sans-serif;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    color: white;
    background: #310606;
}
input[type="checkbox"] {
    margin-right: 5px;
}
input[type="submit"]{
    font-size: 22px;
    border: none;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 2%;
    background-color: #540b0b;
    color: white;
}

.names,
.email,
.tel,
.country,
.city,
#checkboxs,
#textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#country {
    padding-right: 20px;
}
#checkboxs h3 {
    margin-top: 0;
}
#checkboxs label {
    font-weight: normal;
}
#textarea label {
    vertical-align: top;
}
@media screen and (max-width: 576px){
    header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    nav ul{
        width: 100%;
        display: block;
        margin-top: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        text-align: center;
    }
    form{
        width: 100%;
        margin: 0;
        margin-top: 10%;
        padding: 0;
    }
}